html, body{
  margin: 0 auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 360px;
}

#inputField {
  width: 300px;
  height: 46px;
  outline: none;
  font-size: 25px;
  border-radius: 10px;
  vertical-align: middle;
}

#addToDo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  vertical-align: middle;
  font-size: 30px;
  
}

.to-dos {
  margin-top: 25px;
}

.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}